name: Validate Citation Metadata

on:
  push:
    paths:
      - 'CITATION.cff'
  pull_request:
    paths:
      - 'CITATION.cff'

jobs:
  validate:
    name: Validate CITATION.cff
    runs-on: ubuntu-latest
    
    steps:
    - uses: actions/checkout@v4
    
    - name: Check CFF file syntax
      uses: citation-file-format/cffconvert-github-action@2.0.0
      with:
        args: "--validate"
